@model IEnumerable<Brand>
@{
    ViewData["Title"] = "Index";
}

<h1>Brand</h1>

<div class="container-fluid">

    <div class="text-end mb-3">

        <a asp-action="Create" class="btn btn-outline-dark">Add Brand</a>

    </div>

    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var brand in Model)
            {

                <tr>
                    <td>@brand.Id</td>
                    <td>@brand.Name</td>
                    <td>
                        <a asp-action="Edit" asp-route-Id="@brand.Id" class="btn btn-outline-warning">Edit</a>
                        <a asp-action="Delete" asp-route-Id="@brand.Id" class="btn btn-outline-danger">Delete</a>

                    </td>
                </tr>

            }


        </tbody>
    </table>
</div>

