@model Order
@{
    ViewData["Title"] = "Create";
}

<h1>Add Order</h1>

<form method="post" asp-action="Create">



    <div class="mb-3">
        <label asp-for="CustomerName" class="form-label"></label>
        <input asp-for="CustomerName" name="CustomerName" class="form-control" />
        <span asp-validation-for="CustomerName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="TotalAmount" class="form-label"></label>
        <input asp-for="TotalAmount" name="TotalAmount" class="form-control" />
        <span asp-validation-for="TotalAmount" class="text-danger"></span>
    </div>


    <div class="mb-3">
        <label asp-for="Address" class="form-label"></label>
        <input asp-for="Address" name="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>



    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-dark">Back</a>

</form>